# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins-dependencies
.metadata

# Android build
android/.gradle/
android/app/build/
android/app/debug/
android/app/profile/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/xcuserdata

# IDE
.idea/
.vscode/
*.iml

# Platform
*.DS_Store
*.swp
*~

# Generated
*.g.dart
*.freezed.dart